/* Example to reduce padding for navigation content */
/*
.wy-nav-content {
    padding: 5px !important; 
}

body:first-of-type .wy-nav-content {
    padding: 5px !important;
}
*/
.wy-nav-content {
  max-width: 100%;      
  width: 100%;         
}

.wy-menu-vertical a {
  color: #ffffff !important;  
}


/* Example to reduce padding for body content */
.document {
    padding: 5px !important; /* Adjust the value as needed */
}

table.docutils caption span.caption-text {
  display: block; 
  text-align: left !important;
  font-size: 1.5em !important;
}

table.docutils thead tr th.head {
  white-space: normal !important;
  word-wrap: break-word;
}

.highlight {
    background-color: yellow;  /* Change the color to your preference */
    color: black;              /* Text color */
}

details summary {
    font-size: 1.2em;    /* Adjust size to your liking */
    font-weight: bold;   /* Optional: make summary bold */
    cursor: pointer;     /* Pointer cursor on hover */
}


/*2025-09-17
table.docutils {
    table-layout: fixed; 
    width: 100%;         
}

table.docutils td {
    overflow-wrap: break-word; 
    word-wrap: break-word;     
}

.csv-table {
    width: auto;
}*/
