/* Example to reduce padding for navigation content */
/*
.wy-nav-content {
    padding: 5px !important; 
}

body:first-of-type .wy-nav-content {
    padding: 5px !important;
}

.wy-menu-vertical a {
  color: #ffff00 !important;  
}
*/

.wy-nav-content {
  max-width: 100% !important;      
  width: 100%;         
}

.document {
    padding: 5px !important; 
}

table.docutils caption span.caption-text {
  display: block; 
  text-align: left !important;
  font-size: 1.5em !important;
}

table.docutils thead tr th.head {
  white-space: normal !important;
  word-wrap: break-word;
}

.highlight {
    background-color: yellow;  
    color: black;              
}

details summary {
    font-size: 1.2em;
    font-weight: bold;   
    cursor: pointer;     
}

/*2025-09-17
table.docutils {
    table-layout: fixed; 
    width: 100%;         
}

table.docutils td {
    overflow-wrap: break-word; 
    word-wrap: break-word;     
}

.csv-table {
    width: auto;
}*/



/* 2026-04-28  */

.rst-content {
    overflow-x: auto !important;
}

table.dataTable {
    width: 100% !important;
}
.dataTables_scrollHeadInner,
.dataTables_scrollHeadInner table {
    width: 100% !important;
}
.dataTables_scrollBody table {
    width: 100% !important;
}

.dataTables_scroll {
    overflow: auto !important;
}


/* BAD !!!
.dataTables_wrapper {
    width: 100% !important;
    overflow-x: auto !important;
}

.dataTables_wrapper * {
    box-sizing: content-box !important;
}
*/
